@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Ubuntu&display=swap');

/* Main text is Ubuntu*/
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: #444;
}

/* Give headers Barlow font */
h1,
h2,
h3 {
  font-family: "Barlow", sans-serif;
  color: #000;
}

/* Avoid the breaking within a section */
.blocks {
  break-inside: avoid;
}

* {
  /* Override default right margin for sidebar*/
  --pagedjs-margin-right: 0.2in;
  --pagedjs-margin-left: 0.3in;
}

* {
  /* Override default top margin */
  --pagedjs-margin-top: 0.5in;
  --pagedjs-margin-bottom: 0.5in;
}

/* Customize some of the sizing variables */
:root {
  --sidebar-width: 12rem; /* Shrink sidebar width  */
  --sidebar-background-color: #f3f9f9; /* Make sidebar very light teal */
  --sidebar-horizontal-padding: 0.05in; /* Reduce sidebar padding */
}

/* Make sure elements in asside are centered and have a nice small text */
.aside {
  width: calc(var(--sidebar-width) + 9px);
  line-height: 1.2;
  font-size: 0.75rem;
}

/* unvisited link */
a:link {
  color: teal;
}

/* mouse over link */
a:hover {
  color: #dcaf4d;
}

/* visited link */
a:visited {
  color: #444;
}

